.hacker__news__app-story-container > .select__options-container {
  margin-top: 4.25rem;
  margin-bottom: 3rem;
  margin-left: 9.99rem;
}

.hacker__news__app-story-container > .tab__select-container {
  margin-top: 4.375rem;
}
