.hacker__news__app-header {
  width: 90rem;
  height: 7.125rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  border-bottom: 1px solid #ececec;
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.hacker__news__app-header > h1 {
  display: none;
}

.hacker__news__app-header > img {
  margin: 2.75rem 0 2.625rem 9.735rem
}