.hacker__news__app-header {
  display: flex;
  width: 100%;
  height: 7.125rem;
  box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  border-bottom: 1px solid #ececec;
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.hacker__news__app-header > h1 {
  display: none;
}

.hacker__news__app-header > img {
  margin-top: 2.75rem;
  margin-bottom: 2.625rem;
  justify-self: center;
}

@media screen and (min-width: 506px) {
  .hacker__news__app-header > img {
    margin-left: 9.735rem;
  }
}

@media screen and (max-width: 505px) {
  .hacker__news__app-header {
    justify-content: center;
  }
  .hacker__news__app-header > img {
    margin-left: 0;
  }
}
